.initial-loader {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    -webkit-animation: spinner 3s infinite ease;
    animation: spinner 3s infinite ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    --width: 90px;
    width: var(--width);
    height: var(--width);
}
.initial-loader > div {
    height: 100%;
    position: absolute;
    width: 100%;
}
.initial-loader > div {
    background-color: rgba(100, 100, 100, 0.1);
    border: 3px solid #00909e;
}

.initial-loader div:nth-of-type(1) {
    -webkit-transform: translateZ(calc(var(--width) / (-2))) rotateY(180deg);
    transform: translateZ(calc(var(--width) / (-2))) rotateY(180deg);
}
.initial-loader div:nth-of-type(2) {
    -webkit-transform: rotateY(-270deg) translateX(50%);
    transform: rotateY(-270deg) translateX(50%);
    -webkit-transform-origin: top right;
    transform-origin: top right;
}
.initial-loader div:nth-of-type(3) {
    -webkit-transform: rotateY(270deg) translateX(-50%);
    transform: rotateY(270deg) translateX(-50%);
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.initial-loader div:nth-of-type(4) {
    -webkit-transform: rotateX(90deg) translateY(-50%);
    transform: rotateX(90deg) translateY(-50%);
    -webkit-transform-origin: top center;
    transform-origin: top center;
}
.initial-loader div:nth-of-type(5) {
    -webkit-transform: rotateX(-90deg) translateY(50%);
    transform: rotateX(-90deg) translateY(50%);
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
}
.initial-loader div:nth-of-type(6) {
    -webkit-transform: translateZ(calc(var(--width) / 2));
    transform: translateZ(calc(var(--width) / 2));
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }
    50% {
        -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
    100% {
        -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}
