@media screen and (max-width: 1280px) {
    #header {
        padding: 6em 2em 3em 3em;
        width: 30%;
    }
    #header h1 {
        font-size: 1.25em;
    }
    #header h1 br {
        display: none;
    }
    #header > .inner {
        margin-bottom: 0;
    }
    #footer .copyright li {
        border-left-width: 0;
        display: block;
        line-height: 2.25em;
        margin-left: 0;
        padding-left: 0;
    }
    #main {
        margin-left: 30%;
        max-width: none;
        padding: 6em 3em 3em 3em;
        width: 70%;
    }
}
header .inner {
    background: 0 0;
    .container {
        margin-right: 0;
        padding-right: 0;
    }
}

header h1 {
    background: 0 0;
}
#header .container {
    display: flex;
    align-items: flex-end;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 980px) {
        align-items: center;
    }
    .icons {
        // margin-top: 30px;
        a {
            color: #b2b2b2 !important;
            &:hover {
                border-bottom-color: transparent;
                color: var(--highlight) !important;
                text-decoration: none;
            }
        }
    }
}
header {
    p {
        color: #b2b2b2;
        position: relative;
        margin: 0 0 1.5em 0;
    }
    h2 + p {
        font-size: 1.25em;
        margin-top: -1em;
        line-height: 1.5em;
    }
    h3 + p {
        font-size: 1.1em;
        margin-top: -0.8em;
        line-height: 1.5em;
    }
    h4 + p,
    h5 + p,
    h6 + p {
        font-size: 0.9em;
        margin-top: -0.6em;
        line-height: 1.5em;
    }
    &.major {
        h2 {
            font-size: 2em;
            @media screen and (max-width: 736px) {
                font-size: 1.2em;
            }
        }
    }
}

#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    box-sizing: border-box;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: -moz-flex-end;
    -webkit-align-items: -webkit-flex-end;
    -ms-align-items: -ms-flex-end;
    align-items: flex-end;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    background-attachment: scroll, scroll;
    // background-image: url("../assets/images/bg2.jpg");
    background-image: url("../assets/images/overlay.webp"), url("../assets/images/bg2.webp");
    background-position: top left, top left;
    background-repeat: repeat, no-repeat;
    // background-size: auto, 150%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

    color: rgba(255, 255, 255, 0.5);
    height: 100%;
    left: 0;
    padding: 8em 3em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 35%;
    > * {
        -moz-flex-shrink: 0;
        -webkit-flex-shrink: 0;
        -ms-flex-shrink: 0;
        flex-shrink: 0 !important;
        width: 100%;
    }

    > .inner {
        -moz-flex-grow: 1;
        -webkit-flex-grow: 1;
        -ms-flex-grow: 1;
        flex-grow: 1;
        margin: 0 0 2em 0;
    }

    b,
    strong {
        color: #fff;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }

    h1 {
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.35em;
        line-height: 1.75em;
        margin: 0;
    }

    .image.avatar {
        margin: 0 0 1em 0;
        width: 10.25em;
        height: 10.25em;
    }
    @media screen and (max-width: 1280px) {
        padding: 6em 2em 3em 3em;
        width: 30% !important;
        h1 {
            font-size: 1.25em;
        }
        h1 br {
            display: none;
        }
        > .inner {
            margin-bottom: 0;
        }
    }
    @media screen and (max-width: 980px) {
        background-attachment: scroll;
        background-position: top left, center center;
        background-size: cover, cover;
        left: auto;
        padding: 6em 1em;
        position: relative;
        text-align: center;
        top: auto;
        width: 100% !important;
        display: block;
        h1 {
            font-size: 1.75em;
        }
        h1 br {
            display: inline;
        }
    }
    @media screen and (max-width: 736px) {
        &.major h2 {
            font-size: 1.35em;
        }

        padding: 2.25em 1.5em;
        h1 {
            font-size: 1.35em;
        }
    }

    @media screen and (max-width: 480px) {
        padding: 4.5em 1.5em;
        h1 br {
            display: none;
        }
    }
}
body.is-touch #header {
    background-attachment: scroll;
    background-size: auto, cover;
}
.btn-outline-light {
    color: $gray0 !important;
    border-color: $gray0 !important;
    border-radius: 10px;
}
.btn.btn-outline-light:hover {
    @include themed() {
        // background: t("bg") !important;
        background-color: t("main");
        border-color: t("main");
    }
    color: white !important;
}

.glow-on-hover {
    /* width: 220px;
    height: 50px; */
    /* border: none; */
    outline: none;
    /* color: #fff; */
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px !important;
    &:before {
        content: "";
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite !important;
        opacity: 0;
        transition: opacity 0.3s ease-in-out !important;
        border-radius: 10px;
    }

    &:hover &:active {
        color: #000;
    }

    &:hover:after,
    &:active:after {
        background: transparent;
        box-shadow: none !important;
    }

    &:before {
        opacity: 1;
    }

    &:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }
}
@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.ml10 {
    position: relative !important;
    background-color: transparent !important;
    display: block;
    // font-weight: 900;
    // font-size: 4em;
}

.ml10 .text-wrapper {
    position: relative !important;

    overflow: hidden !important;
    background-color: transparent !important;
}
.ml10 .letters {
    background-color: transparent !important;
    color: white;
    font-size: 1.2em;
}
.ml10 .letter {
    background-color: transparent !important;
    display: inline-block !important;
    // line-height: 1em !important;
    font-size: 1.2em;
    color: white;
    font-weight: 500;
    transform-origin: 0 0 !important;
}
