$gray0: #f8f8f8;
$gray1: #dbe1e8;
$gray2: #b2becd;
$gray-light: #9ca9ac;
$gray3: #6c7983;
$gray4: #454e56;
$gray5: #2a2e35;
$gray6: #12181b;
$blue: #0084a5;
$purple: #a82dd1;
$yellow: #fff565;
$blue: #007bff;
$indigo: #6610f2;

$purple: #6f42c1;
$pink: #e83e8c;
$red: #ff7851;
$orange: #fd7e14;
$yellow: #ffce67;
$green: #56cc9d;
$teal: #20c997;
$cyan: #6cc3d5;
$white: #e7e7de;
$gray: #cecece;
$gray-dark: #343a40;
$light-gray: #d4d0d0dc;
$primary: #112d4e;
$secondary: #6eb6ff;
$highlight: #0f3057;
$success: #56cc9d;
$info: #348ed8;
$warning: #ffce67;
$danger: #ff7851;
$light: #f8f9fa;
$dark: #343a40;
$text-alt: #e7e7e7;
// light
$main: #00909e;
$main-shadow: #00909e99;
$main-light: #00909e1f;
$highlight: #00bbf0;
$highlight-shadow: #00bbf088;
$input-box-shadow: rgba(0, 0, 0, 0.4);
$header: #888;
//dark
$main--dark: #f37121;
$main-shadow--dark: #f3722199;
$input-box-shadow--dark: rgba(255, 255, 255, 0.2);
$main-light--dark: #f371211f;
$highlight--dark: #ffb740;
$highlight-shadow--dark: #ffb740;
$header--dark: #fff;
