/* body {
    margin-top: 20px;
}

.timeline {
    border-left: 3px solid var(--main);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: var(--main-light);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 75%;
    margin-right: 20px;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 100%;
        padding: 25px;
        margin-right: 0px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 10px;
    background: transparent;
    color: var(--header);
}

.timeline p {
    font-size: 1em;
    background: transparent;
}

.timeline .event {
    background: transparent;
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -220px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 150px;
}
@media (min-width: 1800px) {
    .timeline .event:before {
        left: -270px;
        content: attr(data-date);
        text-align: right;
        font-weight: 100;
        font-size: 0.9em;
        min-width: 150px;
    }
}
@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px var(--main);
    box-shadow: 0 0 0 3px var(--main);
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid var(--main);
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

#card :hover {
    transform: scale(1);
} */

/* Timeline Container */
.timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
    /* Card container */
    .timeline-card {
        position: relative;
        max-width: 100%;
        margin: 0px auto;

        /* setting padding based on even or odd */
        &:nth-child(odd) {
            padding: 30px 0 30px 30px;
            .info {
                // padding-right: 30px;
            }
            .title {
                flex-direction: row;
            }
            /* Setting the border of top, bottom, left */
            &::before {
                left: 0px;
                top: -4.5px;
                bottom: -4.5px;
                border-width: 5px 0 5px 5px;
                border-radius: 50px 0 0 50px;
            }
        }
        &:nth-child(even) {
            .info {
                // padding-left: 30px;
            }
            .title {
                flex-direction: row-reverse;
            }
            padding: 30px 30px 30px 0;
            text-align: right;
            /* Setting the border of top, bottom, right */
            &::before {
                right: 0;
                top: 0;
                bottom: 0;
                border-width: 5px 5px 5px 0;
                border-radius: 0 50px 50px 0;
            }
        }

        /* Global ::before */
        &::before {
            content: "";
            position: absolute;
            width: 50%;
            border: solid var(--main);
        }

        /* Removing the border if it is the first card */
        &:first-child::before {
            border-top: 0;
            border-top-left-radius: 0;
        }

        /* Removing the border if it is the last card  and it's odd */
        &:last-child:nth-child(odd)::before {
            border-bottom: 0;
            border-bottom-left-radius: 0;
        }

        /* Removing the border if it is the last card  and it's even */
        &:last-child:nth-child(even)::before {
            border-bottom: 0;
            border-bottom-right-radius: 0;
        }

        /* Information about the timeline */
        .info {
            display: flex;
            flex-direction: column;
            /* background: #333; */
            background: var(--main-light);
            color: var(--header);
            border-radius: 10px;
            padding: 10px;
            box-shadow: var(--shadow-md);
            p,
            div {
                padding-left: 15px;
                padding-right: 15px;
                @media screen and (max-width: 736px) {
                    font-size: 0.8em !important;
                }
                font-size: 1em !important;
                li {
                    font-size: 1em !important;
                    font-family: "Open Sans";
                }
            }
            .title {
                font-weight: 700;
                display: flex;
                justify-content: space-between;
                color: var(--main);
                position: relative;
                padding: 15px;
                margin: 0 !important;
                @media screen and (max-width: 736px) {
                    flex-direction: column;
                }
                /* padding-right: 15px; */
                .duration {
                    font-size: 0.8em;
                    font-style: italic;
                    font-weight: 400;
                    // font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                }
                a {
                    color: var(--highlight);
                    &:hover {
                        color: var(--main) !important;
                        text-decoration: underline !important;
                    }
                }
                /* Timeline dot  */
                &::before {
                    content: "";
                    position: absolute;
                    width: 1.8rem;
                    height: 1.8rem;
                    background: var(--bg);
                    border-radius: 999px;
                    border: 3px solid var(--main);
                    opacity: 1 !important;
                    transform: none !important;
                    visibility: visible !important;
                }
            }
        }
        /* Title of the card */

        /* text right if the card is even  */
        &:nth-child(even) > .info > .title {
            text-align: right;
        }

        /* setting dot to the left if the card is odd */
        &:nth-child(odd) > .info > .title::before {
            left: -51px;
        }

        /* setting dot to the right if the card is odd */
        &:nth-child(even) > .info > .title::before {
            right: -51px;
        }
    }
}
